<a href="https://colab.research.google.com/github/PJHSE/Class2022Spring/blob/main/2ndweek.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

판다스, 데이터를 액셀로 처리. Python Data Analysis Library.

### Importing libraries

In [1]:
import pandas as pd                     #install, import, built-in

### Loading csv file

In [3]:
df = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")     #csv 파일을 넣으면 read하는 것. csv? comma separated value? 이걸 액셀 파일로 불러오면 아래처럼. 
df                            #데이터 프레임 변수, 액셀타입

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0
...,...,...,...,...,...,...,...,...,...
16995,-124.26,40.58,52.0,2217.0,394.0,907.0,369.0,2.3571,111400.0
16996,-124.27,40.69,36.0,2349.0,528.0,1194.0,465.0,2.5179,79000.0
16997,-124.30,41.84,17.0,2677.0,531.0,1244.0,456.0,3.0313,103600.0
16998,-124.30,41.80,19.0,2672.0,552.0,1298.0,478.0,1.9797,85800.0
16999,-124.35,40.54,52.0,1820.0,300.0,806.0,270.0,3.0147,94600.0

In [4]:
print(df.size); print(df.ndim); print(df.shape)               #데이터프레임의 사아즈, 데이터 프레임의 차원, 데이터 프레임의 행 렬.

153000
2
(17000, 9)

In [5]:
df.describe()                                                      #액셀 파일에 대한 통계.

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000,17000.000000
mean,-119.562108,35.625225,28.589353,2643.664412,539.410824,1429.573941,501.221941,3.883578,207300.912353
std,2.005166,2.137340,12.586937,2179.947071,421.499452,1147.852959,384.520841,1.908157,115983.764387
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.790000,33.930000,18.000000,1462.000000,297.000000,790.000000,282.000000,2.566375,119400.000000
50%,-118.490000,34.250000,29.000000,2127.000000,434.000000,1167.000000,409.000000,3.544600,180400.000000
75%,-118.000000,37.720000,37.000000,3151.250000,648.250000,1721.000000,605.250000,4.767000,265000.000000
max,-114.310000,41.950000,52.000000,37937.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

### Saving to CSV

In [6]:
df.to_csv('california_housing_train.csv')                         #파일로 저장하기.

### Constructing a DataFrame using dict

In [8]:
# Some input data - a small sample of the iris dataset                #dict를 이용해서 csv파일 만들기.
data = {'sepal_length': [6.9, 6.9, 4.8, 5.4, 4.6],
        'sepal_width': [3.2, 3.1, 3.4, 3.0, 3.6],
        'petal_length': [5.7, 5.1, 1.9, 4.5, 1.0],
        'petal_width': [2.3, 2.3, 0.2, 1.5, 0.2],
        'species': ['virginica', 'virginica', 'setosa', 'versicolor', 'setosa']}

df = pd.DataFrame(data)                              #dict로 만든 데이터프레임. 
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

### Constructing a DataFrame using pd.Series

In [7]:
sepal_length = pd.Series([6.9, 6.9, 4.8, 5.4, 4.6])             #데이터프레임 만드는 또 다른 방법인데, 칼럼 별로 만들어버리기. 시리즈 함수.    
sepal_width = pd.Series([3.2, 3.1, 3.4, 3.0, 3.6])
petal_length = pd.Series([5.7, 5.1, 1.9, 4.5, 1.0])
petal_width = pd.Series([2.3, 2.3, 0.2, 1.5, 0.2])
species = pd.Series(['virginica', 'virginica', 'setosa', 'versicolor', 'setosa'])

df = pd.DataFrame({'sepal_length': sepal_length, 'sepal_width': sepal_width, 'petal_length': petal_length, 'petal_width': petal_width, 'SPECIES': species})
df                                      #마지막에 딕트 써서 데이터 프레임 형성.

   sepal_length  sepal_width  petal_length  petal_width     SPECIES
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

### Changing column names

In [9]:
# Change the columns
df.columns = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']        
df                                     #칼럼 이름 바꿔버리기.

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

### Accessing columns

In [10]:
# Access one column 
df.loc[:, 'sepal_length']        #행, 렬로 액세스 하는 방법. : == 처음부터 끝까지.

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [11]:
# Access one column (short-hand)
df['sepal_length']              #그냥 열의 이름만 적어도 나온다.

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [12]:
# Access one column (shortest-hand)
df.sepal_length                  # 또 하나의 방법.

0    6.9
1    6.9
2    4.8
3    5.4
4    4.6
Name: sepal_length, dtype: float64

In [13]:
# Access two columns
df.loc[:, ['sepal_length', 'sepal_width']]

   sepal_length  sepal_width
0           6.9          3.2
1           6.9          3.1
2           4.8          3.4
3           5.4          3.0
4           4.6          3.6

In [14]:
# Access two columns (short-hand)
df[['sepal_length', 'sepal_width']]

   sepal_length  sepal_width
0           6.9          3.2
1           6.9          3.1
2           4.8          3.4
3           5.4          3.0
4           4.6          3.6

### Accessing rows

In [15]:
# Access one row 
df.loc[3, :]

sepal_length           5.4
sepal_width            3.0
petal_length           4.5
petal_width            1.5
species         versicolor
Name: 3, dtype: object

In [16]:
# Access two rows
df.loc[[3, 0], :]

   sepal_length  sepal_width  petal_length  petal_width     species
3           5.4          3.0           4.5          1.5  versicolor
0           6.9          3.2           5.7          2.3   virginica

In [17]:
# Access a range of rows
df.loc[2:5, :]

   sepal_length  sepal_width  petal_length  petal_width     species
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

In [18]:
# Filter keeping only rows with `sepal_length` > 5
df[df.sepal_length > 5]          #특정 정보에 액세스

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
3           5.4          3.0           4.5          1.5  versicolor

### Accessing a cell

In [19]:
df.loc[:, 'sepal_length'][4]

4.6

In [20]:
df['sepal_length'][4]

4.6

In [21]:
df.sepal_length[4]

4.6

### Adding/Removing new columns

In [22]:
df['new_column'] = 1
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,1
2,4.8,3.4,1.9,0.2,setosa,1
3,5.4,3.0,4.5,1.5,versicolor,1
4,4.6,3.6,1.0,0.2,setosa,1

In [23]:
df['new_column'] = [1, 2, 3, 4, 5]
df

,sepal_length,sepal_width,petal_length,petal_width,species,new_column
0,6.9,3.2,5.7,2.3,virginica,1
1,6.9,3.1,5.1,2.3,virginica,2
2,4.8,3.4,1.9,0.2,setosa,3
3,5.4,3.0,4.5,1.5,versicolor,4
4,4.6,3.6,1.0,0.2,setosa,5

In [24]:
df = df.drop('new_column', axis=1) # axis=1: column               #axis = 0, axis = 1 (행, 렬)
df

   sepal_length  sepal_width  petal_length  petal_width     species
0           6.9          3.2           5.7          2.3   virginica
1           6.9          3.1           5.1          2.3   virginica
2           4.8          3.4           1.9          0.2      setosa
3           5.4          3.0           4.5          1.5  versicolor
4           4.6          3.6           1.0          0.2      setosa

### Adding/Removing new rows

In [30]:
df.loc[5, :] = [1, 2, 3, 4, 'Korea']
df

  sepal_length sepal_width petal_length petal_width     species
0          6.9         3.2          5.7         2.3   virginica
1          6.9         3.1          5.1         2.3   virginica
2          4.8         3.4          1.9         0.2      setosa
3          5.4         3.0          4.5         1.5  versicolor
4          4.6         3.6          1.0         0.2      setosa
5            1           2            3           4       Korea

In [31]:
df = df.drop(5, axis=0) # axis=0: row
df

  sepal_length sepal_width petal_length petal_width     species
0          6.9         3.2          5.7         2.3   virginica
1          6.9         3.1          5.1         2.3   virginica
2          4.8         3.4          1.9         0.2      setosa
3          5.4         3.0          4.5         1.5  versicolor
4          4.6         3.6          1.0         0.2      setosa